
$mainColor: #0A1B2D;          
$textColor: #fff;          
$lightGrey: #F8F8F8;       
$white: #FFFFFF;           
$highlightColor: #FF7B00;  
$colorLabel:#000;


$fontPrincipal: 'Poppins', sans-serif;
